@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="@Url.Content("~/Content/2011.3.1129/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.3.1129/kendo.metro.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/nyroModal/styles/nyroModal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jCrop/css/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
}
<h2>@ViewBag.Message</h2>
<p>
    <div>
        1. Set aspect ratio<br />Current Aspect Ratio: <span id="current_ratio"></span>
        <select id="ratio_selection" style="margin-left:20px;">
            <option value="">
                Select aspect ratio
            </option>
            <option value="1.0">
                1.0
            </option>
            <option value="1.2">
                1.2
            </option>
            <option value="2.0">
                2.0
            </option>
            <option value="2.4">
                2.4
            </option>
            <option value="3.0">
                3.0
            </option>
        </select>
        <button id="change_ratio">Change aspect ratio</button>
    </div>
    <div style="width:60%;margin-top:20px;">
        2. Upload image file to upload (.jpeg, .gif, .jpg, and .png)<input name="files" id="files" type="file" />
    </div>
    <div id="croppedImage"></div>
</p>
@section scripts{
    <script src="@Url.Content("~/Scripts/2011.3.1129/kendo.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/nyroModal/jquery.nyroModal.custom.js")" type="text/javascript"></script>
    <!--[if IE 6]>
	<script type="text/javascript" src="@Url.Content("~/Scripts/nyroModal/jquery.nyroModal-ie6.js")"></script>
    <![endif]-->
    <script type="text/javascript">
        var ratio = '2.4';  // initial ratio
        var preview_width;
        var preview_height;
        var max_preview_width = 180;

        function getFileInfo(e) {
            return $.map(e.files, function(file) {
                var info = file.name;
                
                return info;
            }).join(", ");
        }
        function onUpload(e) {
            var files = e.files;

            // Check the extension of each file and abort the upload if it is not .jpg, .jpeg, .gif, or png
            $.each(files, function() {
                if (this.extension != ".jpg" && this.extension != ".jpeg" && this.extension != ".gif" && this.extension != ".png") {
                    alert("Only image files can be uploaded");
                    e.preventDefault();
                }
            });
        }
        function onSuccess(e) {
            var parseRatio = parseFloat(ratio);
            var init_width = parseRatio * 100;
            var init_height = 100;
            
            $.get("/Home/_ImageCrop/?fileName=" + getFileInfo(e), function(content) {
                $.nmData(content, {
                    closeOnEscape: false,
                    closeOnClick: false,
                    showCloseButton: false,
                    callbacks: {
                        afterShowCont: function() {                            
                            $('#jcrop_target').Jcrop({
		                        onChange: showPreview,
		                        onSelect: showPreview,
		                        setSelect: [20,20,init_width + 20,init_height + 20],
                                addClass: 'jcrop-dark',
                                aspectRatio: parseRatio,
                                allowSelect: false
	                        });

                            preview_width = max_preview_width;
                            preview_height = preview_width / parseRatio;
                            $('#preview_wrapper').css('width', preview_width + 'px');
                            $('#preview_wrapper').css('height', preview_height + 'px');
                            $('#preview_wrapper').show();
                        }
                    }
                });
            });

            $(".k-upload-files").html('');  // hard reset kendoUI upload for now
        }
        function showPreview(coords) {
            $('#x1').val(coords.x);
	        $('#y1').val(coords.y);
	        $('#x2').val(coords.x2);
	        $('#y2').val(coords.y2);
	        $('#w').val(coords.w);
	        $('#h').val(coords.h);

	        var rx = preview_width / coords.w;
	        var ry = preview_height / coords.h;

	        $('#preview').css({
		        width: Math.round(rx * 500) + 'px',
		        height: Math.round(ry * 300) + 'px',
		        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
		        marginTop: '-' + Math.round(ry * coords.y) + 'px'
	        });
        }
        $(function() {
            $('#current_ratio').html(ratio);
            $("#files").kendoUpload({
                async: {
                    saveUrl: "@Url.RouteUrl("Default", new { @Controller = "Upload", @Action = "Save" })",
                    removeUrl: "@Url.RouteUrl("Default", new { @Controller = "Upload", @Action = "Remove" })",
                    autoUpload: true
                },
                localization: {
                    select: "Upload File"
                },
                multiple: false,
                showFileList: false,
                upload: onUpload,
                success: onSuccess
            });
            $('#crop_submit').live('click', function() {
                var x1 = $('#x1').val();
                var y1 = $('#y1').val();
                var x2 = $('#x2').val();
                var y2 = $('#y2').val();
                var w1 = $('#w').val();
                var h1 = $('#h').val();
                var file_name = $('#file_name').val();
                var img_width = $('#img_width').val();
                var img_height = $('#img_height').val();

                $.post('/Home/ProcessImageCrop/', { x1: x1, y1: y1, x2: x2, y2: y2, w1: w1, h1: h1, file_name: file_name, img_width: img_width, img_height: img_height }, function(data) {
                    $('#croppedImage').html('<img src="/Home/RenderFromSession/" />');
                    $.nmTop().close();
                });
            });
            $('#change_ratio').live('click', function () {
                var selection = $('#ratio_selection').val();
                if (selection != '') {
                    $('#current_ratio').html(selection);
                    ratio = selection;
                }
            });
        });
    </script>
}